body{
	background: #263238;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}


footer{
	text-align: center;
}

footer div{
	color: #ECEFF1;
	margin: 5% 0 1% 0;
	font-size: 1.5em;
}

h1{
	color: #ECEFF1;
	text-align: center;
}

h2{
	color: #ECEFF1;
	text-align: center;

}

h2 > img{
	height: 2em;
	width: 2em;
}

h3{
	color: #ECEFF1; 
	text-align: center;
}


nav{
	padding: 5px;
	text-align: center;
}

nav>ul>li{
	background: #37474F;
	border:2px solid #90A4AE;
	border-radius: 5px;
	box-shadow:4px 4px 5px #B0BEC5 inset;
	display: inline-block;
	line-height: 50px;
	margin: 2px 0px;
	transition:all 0.2s;
	width: 10%;
}

nav>ul>li:hover{
	background: #CFD8DC;	
	box-shadow: 1px 1px 3px #ECEFF1;
	transform: scale(1.01,1.01);
}

nav>ul>li>a{
	color: #ECEFF1;
	font-size: 1em;
	text-decoration: none;
	width: 100%;
}

nav>ul>li:hover>a{
	color: #263238;
	font-weight: bold;
}


main{
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

section > article:nth-child(odd){
	background-color: #CFD8DC;
	padding: 10px;
}

section > article:nth-child(even){
	background-color: #ECEFF1;
	padding: 10px;
}

section>article>h3{
	color:black;
}

section>article div{
	padding: 0.6rem;
	text-align: justify;
}

section>article>p{
	font-size: 0.96rem;
	font-weight: bold;
	text-align: justify;
}


span{
	color: #ECEFF1;
	font-family: Sosa;
	font-size: 2em;
}

ul{
	list-style: none;
	margin:0;
	padding: 0;
}


.social{
	color: white;
	display: inline-block;
	height: 30px;
	margin: 5px;
	transition:all 0.5s;
	width: 30px;
}

.social:hover{
	transform: scale(1.1);
}


@media only screen and (max-width:1550px){
	nav>ul>li{
		width: 45%;
	}
}

@media only screen and (max-width:800px){
	nav>ul>li{
		width: 90%;
	}
}

/**********************************************************
***********************************************************
***********************************************************
***********ANIMACIONES - FRANCISCO RAMIREZ*****************
***********************************************************
***********************************************************
***********************************************************/

/*Animation-duration*/

#animation-duration-1 {
    width: 100px;
    height: 50px;
	background: rgb(235, 183, 183);
	/*desplazo la caja*/
    position: relative;
    animation: animation-duration infinite;
    animation-duration: 1s;
}
#animation-duration-5 {
    width: 100px;
    height: 50px;
    background: rgb(207, 131, 131);
    position: relative;
    animation: animation-duration infinite;
    animation-duration: 5s;
}
#animation-duration-10 {
    width: 100px;
    height: 50px;
    background: rgb(209, 86, 86);
    position: relative;
    animation: animation-duration infinite;
    animation-duration: 10s;
}
@keyframes animation-duration {
    from {left: 0px;}
    to {left: 800px;}
}

/*Animation-timing-function*/

#animation-timing-function-ease{
	width: 120px;
    height: 50px;
    background: rgb(121, 223, 126);
    position: relative;
    animation: animation-timing-function 10s infinite;
    animation-timing-function: ease;
}
#animation-timing-function-ease-in{
	width: 120px;
    height: 50px;
    background: rgb(121, 223, 126);
    position: relative;
    animation: animation-timing-function 10s infinite;
    animation-timing-function: ease-in;
}
#animation-timing-function-ease-out{
	width: 120px;
    height: 50px;
    background: rgb(23, 236, 33);
    position: relative;
    animation: animation-timing-function 10s infinite;
    animation-timing-function: ease-out;
}
#animation-timing-function-ease-in-out{
	width: 120px;
    height: 50px;
    background: rgb(121, 223, 126);
    position: relative;
    animation: animation-timing-function 10s infinite;
    animation-timing-function: ease-in-out;
}
#animation-timing-function-linear{
	width: 120px;
    height: 50px;
    background: rgb(171, 212, 173);
    position: relative;
    animation: animation-timing-function 10s infinite;
    animation-timing-function: linear;
}
#animation-timing-function-step-start{
	width: 120px;
    height: 50px;
    background: rgb(70, 221, 78);
    position: relative;
    animation: animation-timing-function 10s infinite;
    animation-timing-function: steps(6, start);
}
#animation-timing-function-step-end{
	width: 120px;
    height: 50px;
    background: rgb(17, 197, 26);
    position: relative;
    animation: animation-timing-function 10s infinite;
    animation-timing-function: steps(6, end);
}
#animation-timing-function-cubic-bezier{
	width: 120px;
    height: 50px;
    background: rgb(39, 109, 42);
    position: relative;
    animation: animation-timing-function 10s infinite;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
}
@keyframes animation-timing-function {
    from {left: 0px;}
    to {left: 600px;}
}

/*Animatio-delay*/

#animation-delay-2{
	width: 140px;
    height: 50px;
    background: rgb(151, 113, 168);
    position: relative;
    animation: animation-delay 10s infinite;
    animation-delay: 2s;
}
#animation-delay-3{
	width: 140px;
    height: 50px;
    background: rgb(176, 100, 211);
    position: relative;
    animation: animation-delay 10s infinite;
    animation-delay: 3s;
}
#animation-delay-6{
	width: 140px;
    height: 50px;
    background: rgb(137, 96, 156);
    position: relative;
    animation: animation-delay 10s infinite;
    animation-delay: 6s;
}
@keyframes animation-delay {
	0% {left: 0px;}
	50% {left: 50px; background: indigo}
    100% {left: 600px;}
}

/*Animation-iteration-count*/

#animation-iteration-count-infinite{
	width: 140px;
    height: 50px;
    background: rgb(209, 153, 80);
    position: relative;
	animation: animation-iteration 2s;
	animation-iteration-count: infinite;
    
}
#animation-iteration-count-2{
	width: 140px;
    height: 50px;
    background: rgb(240, 222, 67);
    position: relative;
    animation: animation-iteration 5s;
    animation-iteration-count: 2;
}
#animation-iteration-count-10{
	width: 140px;
    height: 50px;
    background: rgb(235, 200, 87);
    position: relative;
    animation: animation-iteration 5s;
    animation-iteration-count: 10;
}
@keyframes animation-iteration {
	0% {left: 0px;}
    100% {left: 900px; background: rgb(255, 21, 0)}
}

/*Animation-direction*/

#animation-direction-normal{
	width: 140px;
    height: 50px;
    background: rgb(129, 212, 233);
    position: relative;
    animation: animation-direction 5s infinite;
    animation-direction: normal;
}
#animation-direction-alternate{
	width: 140px;
    height: 50px;
    background: rgb(129, 212, 233);
    position: relative;
    animation: animation-direction 5s infinite;
    animation-direction: alternate;
}
#animation-direction-reverse{
	width: 140px;
    height: 50px;
    background: rgb(129, 212, 233);
    position: relative;
    animation: animation-direction 5s infinite;
    animation-direction: reverse;
}
#animation-direction-alternate-reverse{
	width: 140px;
    height: 50px;
    background: rgb(129, 212, 233);
    position: relative;
    animation: animation-direction 5s infinite;
    animation-direction: alternate-reverse;
}
@keyframes animation-direction {
	0% {left: 0px;}
    100% {left: 900px; background: rgb(38, 0, 255)}
}

/*Animation-fill-mode*/

#animation-fill-mode-none{
	width: 140px;
    height: 50px;
    background: rgb(231, 177, 222);
    position: relative;
    animation: animation-fill-mode 5s ;
	animation-fill-mode: none;
	animation-delay: 3s;
}
#animation-fill-mode-forwards{
	width: 140px;
    height: 50px;
    background: rgb(219, 154, 219);
	position: relative;
    animation: animation-fill-mode 5s ;
	animation-fill-mode: forwards;
	animation-delay: 3s;
}
#animation-fill-mode-backwards{
	width: 140px;
	height: 50px;
	background: rgb(219, 154, 219);
	position: relative;
    animation: animation-fill-mode 5s ;
	animation-fill-mode: backwards;
	animation-delay: 3s;

}
#animation-fill-mode-both{
	width: 140px;
    height: 50px;
	position: relative;
	animation-delay: 1s;
    animation: animation-fill-mode 5s ;
	animation-fill-mode: both;
	animation-delay: 3s;
}

@keyframes animation-fill-mode {
	from {left: 0px; background: rgb(17, 0, 0)}
    to {left: 900px; background: rgb(255, 0, 212)}
}

/*Animation-play-state*/

#animation-play-state-running{
	width: 140px;
	height: 50px;
	background: #90A4AE;
	position: relative;
	animation: animation-play-state 5s infinite;
	animation-play-state: paused;
	
}
#animation-play-state-paused{
	width: 300px;
	height: 50px;
	background: #90A4AE;
	position: relative;
    animation: animation-play-state 5s infinite;

}
#animation-play-state-running:hover{

	animation-play-state: running;
}
#animation-play-state-paused:hover{

	animation-play-state: paused;
}

@keyframes animation-play-state {
	from {left: 0px;}
    to {left: 900px;}
}

/*Animation - abreviación*/

#animation-animation{
	width: 150px;
	height: 50px;
	background: #90A4AE;
	position: relative;
    animation: animation-name 10s ease-in-out 5s infinite alternate forwards;

}
@keyframes animation-name {
	from {left: 0px;  background: rgb(17, 0, 0)}
    to {left: 900px;  background: rgb(255, 6, 6)}
}

/*Juego de tennis ejemplo práctico*/

#animation-tennis{
	margin-left: 20%;
	height:350px;
	width: 50%;
	background-color: black;
}
#animation-tennis-pared-1{
	width: 20px;
    height: 50px;
    background: rgb(229, 236, 238);
    position: relative;
    animation: animation-tennis-pared-1 2.5s infinite;
	animation-direction: alternate;
}

#animation-tennis-pared-2{
	width: 20px;
	height: 50px;
	left: 90%;
    background: rgb(238, 239, 240);
    position: relative;
    animation: animation-tennis-pared-2 2.5s infinite;
    animation-direction: alternate;
}

#animation-tennis-bola{
	width: 7px;
	height: 7px;
    background: rgb(15, 37, 59);
    position: relative;
    animation: animation-tennis-bola 10s infinite;
    animation-direction: alternate;
}

@keyframes animation-tennis-pared-1 {
	from {top: 30px;  background: rgb(41, 236, 6)}
    to {top: 280px;}
}
@keyframes animation-tennis-pared-2 {
	from {top: -50px; background: rgb(11, 231, 29)}
    to {top: 180px; }
}
@keyframes animation-tennis-bola {
	0%   {background: red; left: 40px; top: 40px;}
    25%  {background: yellow; left: 200px; top: 260px;}
    50%  {background: blue; left: 86%; top: 10px;}
    100% {background: red; left: 40px; top: 40px;}

}

