/* Fondo de la página */
body {
    background: linear-gradient(to bottom, rgba(183,222,237,1) 0%,
    rgba(113,206,239,1) 0%, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 100%);    
    font-family: 'Ranga', cursive;
}

/************************** TOP DE LA PÁGINA **************************/
/* Título de la página */
h1 {
    font-size: 80px;
    margin: 0;
    padding: 30px;
    color: rgb(9, 57, 119);
    text-align: center;

}

/*************************CONTENIDO DE LA PÁGINA************************/

/*Indico un tamaño máximo para el contenido principal*/
#contenido{

    display: grid;
    grid-template-columns: 99%;
}

p{
    text-align : justify; 
}

h3{
    color: rgb(8, 28, 54);
    font-size: 40px;
}

main section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: justify;
}

main article{
    margin: 10px;
    padding: 5px;
    background-color: rgba(33,180,226,1);
    box-shadow: 8px 8px 10px rgb(75, 153, 163);
}
.boton{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.b{
    display:inline-block;
    margin-left: 200px;

}