/** CSS3**/

/*******************MOBILE FIRST**********************/

html {
    font-family: 'Roboto', sans-serif;
    /* Escondo barra vertical */
    overflow: hidden;
    color: white;
}
body{
    font-size: 14px;
}

h1{
    font-size: 36px;
    background-color: rgba(0,0,0,0.8);
}

section{
    width: 100%;
    height: 100vh; 
}

/* Combinación de sections */

.segundo-section, .tercer-section {
    display: flex;
    background-color: rgb(5, 71, 60);
}

article {
    width: 45%;
}

article > img {
    border-radius: 15%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 100%;
    height: 89%;
}

/* Primer section */

.primer-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/fondo.jpeg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

/* Segundo section */

.segundo-section > div > article{
    width: 100%;
}

h2{
    text-align: center;
}

img.foto-perfil {
    width: 87px;
    height: 87px;
    margin: auto;
    display:block;
}

p{
    text-align: center;
    padding: 4%;
}

ul{
    list-style: none;
}
/* Tercer section */

.proyectos{
    text-align: center;
}

.tercer-section > div {
    margin: auto ;
    width: 90%;
}

.tercer-section > div > div {
    width: 90%;
    margin: 0 auto;
}

.tercer-section > div > div > div {
    width: 100%;
}

.tercer-section > div > div > div > div {
    display: flex;
    justify-content: space-between;
}

.mas-proyectos, h3, h4{
    display: none;
}

